{% extends "base.html.twig" %}

{% block body %}

  <div class="container">

    <div class="h1 text-center p-5">Create city</div>
      {% for message in app.flashes('success') %}
        <div class="alert-success h3 text-center mt-2">
          {{message}}
        </div>
      {% endfor %} 
    {{form_start(city_form)}}

    {{form_end(city_form)}}
  </div>

{% endblock %}