{% extends "base.html.twig" %}


{% block body %}
  <div class="container">
    <div class="h1 text-center p-5">Create a Relationship Status</div>
    {% for message in app.flashes('success') %}
      <div class="alert-success h3 text-center">
        {{message}}
      </div> 
    {% endfor %}
      {{form_start(relationship_form)}}


      {{form_end(relationship_form)}}
  </div>
{% endblock %}